<!--
<div class="panel panel-default comment-item">
	<div class="panel-heading">
	<h3 class="panel-title">{{comment.name}}</h3>
	</div>
	<div class="panel-body">
	<p>{{comment.createdAt}}</p>
		<p>{{comment.text}}</p>
	</div>
	<div class="panel-footer text-right">
     {{yield}}
   	</div>
</div>
-->

<li class="media">
    <a href="#" class="pull-left">
        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
    </a>
    <div class="media-body">
        <span class="text-muted pull-right">
            <strong class="text-success">{{comment.name}}</strong>
            <small class="text-muted">{{comment.createdAt}}</small>

        </span>
        <br>
        <div style="word-wrap: break-word; width: 100px">
	        <p style="word-wrap: break-word;">{{comment.text}}</p>
        </div>
    </div>
</li>
