
<div class="panel panel-default game-item">
{{#link-to 'info'}}
	<div class="panel-heading">
	<h3 class="panel-title">{{game.name}}</h3>
	</div>
	<div class="panel-body">
		<p><img src={{game.image}} width=90 height=128></p>
		<p>Genre: {{game.genre}}</p>
		<p>Company: {{game.company}}</p>
		<p>Platform: {{game.platform}}</p>
		<p>Release Date: {{game.released}}</p>
	</div>
	{{/link-to}}
	<div class="panel-footer text-right">
      		{{yield}}
    	</div>
</div>


