<div class="container-fluid">

    <div class="row readable"  style="padding-left: 10px; padding-right: 10px;">
      <div class="readable">
        <div class="col-xs-6">
            <div class="show-listing">
                <h2 class="title">{{model.name}}</h2>
                <img src="{{model.image}}" class="cover-pic col-xs-12 col-md-8">
                <div class="right detail-section col-xs-12 col-md-4">
                    <div class="detail owner">
                        <strong>Genre:</strong><br> {{model.genre}}
                    </div>
                    <div class="detail">
                        <strong>Company:</strong><br> {{model.company}}
                    </div>
                    <div class="detail">
                        <strong>Platform:</strong><br> {{model.platform}}
                    </div>
                    <div class="detail">
                        <strong>Release Date:</strong><br> {{model.released}}
                    </div>
                    <div class="detail">
                        <strong>Leave a Rating:</strong><br> {{star-rating rating=model.rating readOnly=false onClick=(action 'rateGame' model) fillColor='gold' anyPercent=true width=20 height=20}}
                    </div>
                </div>

            </div>
        </div>
      </div>

        <div class="col-xs-6">
            <div class="row bootstrap snippets">
                <div class="comment-wrapper">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Comments
                        </div>
                        <div class="panel-body">
                            {{textarea type="text" value=comment enter=(action 'addComment' model) class="form-control" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here..." autocomplete="off"}}
                            <button class="btn btn-info pull-right" {{action 'addComment' model}}>Submit Comment</button>
                            <div class="clearfix"></div>
                            <hr>
                            <ul class="media-list">
                                {{#each model.comment as |comment|}} {{#comment-item comment=comment}} {{/comment-item}} {{else}}
                                <div class="col-xs-8 text-center">
                                    <div class="alert alert-info">
                                        Be the first to leave a comment!
                                    </div>
                                </div>
                                {{/each}}
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
