<div class="jumbo show-listing">
  <h2 class="title">{{model.name}}</h2>
  <div class="right detail-section">
    <div class="detail owner">
      <strong>Genre:</strong> {{model.genre}}
    </div>
    <div class="detail">
      <strong>Company:</strong> {{model.company}}
    </div>
    <div class="detail">
      <strong>Platform:</strong> {{model.platform}}
    </div>
    <div class="detail">
      <strong>Release Date:</strong> {{model.released}}
    </div>
  </div>
  <img src="{{model.image}}" class="cover-pic">
</div>