<div class="container-fluid show-listing">
  <div class="readable">
    <h2 class="title">{{pageUser.username}}</h2>
    <div class="padding-container">

    <h3>Games List</h3>
    <div class="" style="padding:25px; border-radius:5px; overflow: auto">
        <div class="pre-scrollable col-xs-12">
            <div class="row">
                {{#each gameList as |game|}}
                <div class="col-md-4">
                    {{#game-item game=game users=game.gameUser onShow=true}} {{/game-item}}
                </div>
                {{else}}
                    {{#if model.isUpdating}}
                        {{spinner-cube}}
                    {{else}}
                        <div class="col-md-12 text-center">
                            <div class="alert alert-info">
                                Sorry, no result.
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>

    <h3>Following</h3>
    <div class="" style="padding:25px; border-radius:5px; overflow: auto">
        <div class="pre-scrollable col-xs-12">
            <div class="row">
                {{#each friendList as |user|}}

                    <div class="col-md-4">
                        {{#user-info friend=user userRecord=userRecord onShow=true}} {{/user-info}}
                    </div>
                    {{else}}
                        {{#if model.isUpdating}}
                            {{spinner-cube}}
                            {{else}}
                                <div class="col-md-12 text-center">
                                    <div class="alert alert-info">
                                        Sorry, no result.
                                    </div>
                                </div>
                        {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    </div>
</div>
    {{outlet}}

</div>
