<h1>Game Library</h1>
<div class="input-group md-form form-sm form-1 pl-0">
  <div class="input-group-prepend">
    <span class="input-group-text purple lighten-3" id="basic-text1"><i class="fas fa-search text-white"
        aria-hidden="true"></i></span>
  </div>
  <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search" id="search" {{action 'filterByGame(this.value)'}}>
</div>

<br/>

<table class="table table-bordered table-striped" id="gameTable">

  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th>Company</th>
      <th>Platform</th>
      <th>Release Date</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |game|}}
    <tr>
      <th>{{game.name}}</th>
      <th>{{game.genre}}</th>
      <th>{{game.company}}</th>
      <th>{{game.platform}}</th>
      <th>{{game.released}}</th>
    </tr>
  {{/each}}
  </tbody>
</table>