<!-- app/templates/index.hbs -->


<div class="jumbotron text-center">
   <h1>Add a Game</h1>

   <br/><br/>

   <div class="form-horizontal form-group form-group-lg row">
     <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
       {{input type="text" value=game class="form-control" placeholder="Enter game name" autofocus="autofocus" autocomplete="off"}}
     </div>
          <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
       {{input type="text" value=company class="form-control" placeholder="Enter game publisher" autofocus="autofocus" autocomplete="off"}}
     </div>
          <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
       {{input type="text" value=genre class="form-control" placeholder="Enter game genre" autofocus="autofocus" autocomplete="off"}}
     </div>
          <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
       {{input type="text" value=platform class="form-control" placeholder="Enter game platform" autofocus="autofocus" autocomplete="off"}}
     </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
       {{input type="text" value=released class="form-control" placeholder="Enter game release date" autofocus="autofocus" autocomplete="off"}}
     </div>
     <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
       <button class="btn btn-primary btn-lg btn-block" {{action 'saveInvitation'}}>Add Game</button>
     </div>
   </div>

   {{#if responseMessage}}
     <div class="alert alert-success">{{responseMessage}}</div>
   {{/if}}

   <br/><br/>

</div>
