<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="container-fluid">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <span class="text-danger">{{LoginConfirmation}}</span>
    <form {{action "authenticate" on="submit"}} >
		{{input type="email" value=identification class="fadeIn second" placeholder="login"}}
		{{input type="password" value=password class="fadeIn third" placeholder="password"}}
		{{input type="submit" class="fadeIn fourth" value="Log In"}}
    <br>
    {{#link-to "sign-up"}} Don't have an account? {{/link-to}}
    <br>
	 </form>
 </div>
  </div>
</div>
